# Twilio WhatsApp
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_PHONE=+whatsapp:+39123456789

# App
PORT=3000
NODE_ENV=production

# Murgi Sport
MURGI_URL=https://www.murgisport.it
